body {
	padding: 12px 10px;
}

/** buttons section */
.buttons__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.buttons__container__caution {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: -15px;
	font-size: 0.8rem;
	color: var(--gray-400);
}

.buttons {
	max-width: 350px;
	padding: 20px;
	border-radius: 24px;
	border: 1px solid var(--dark-blue-300);
	transition: 0.3s background ease;
	cursor: pointer;
	background: transparent;
	color: inherit;
}

.buttons:hover {
	background: var(--gray-100);
}

.buttons-blue {
	background: var(--dark-blue-300);
	color: var(--white);
}

.buttons-blue:hover {
	background: var(--dark-blue-400);
}

/* output text section */
.output__container:first-child {
	font-size: 2rem;
	color: var(--gray-400);
}
